@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;




.icon{
    display: none !important;
}
.d-none{
    display: none !important;
}
.menu-icon{
    display: none !important ;
}
.close{
    display: none !important;
}

@media (max-width:376px) {

    /*? nav bar */
    nav{
        padding-left: 3vw !important;
        padding-right: 3vw !important;
        position: relative !important;
        justify-content:start !important;
        gap: 25vw !important;
    }
    .links{
        background-color: #e65540 !important;
        position: fixed !important;
        top: 14vh !important;
        right: 0 !important;
        left: 0 !important;
        padding: 0 3vw !important;
        display: none !important;
    }
    .links ul{
        display: flex !important;
        flex-direction: column !important;
        align-items: start !important;
        gap: 0 !important;
    }
    .links ul li {
        color: #fff !important;
        border-bottom: 1px #fff solid !important;
        width: 100% !important;
        padding: 2vh 0 !important;

    }
    .icon{
        display: flex !important;
    }
    .menu-icon{
        display: flex !important;
        position: absolute !important;
        font-size: 30px !important;
        right: 8vw !important;
    }

    .right-part {
        display: flex !important;
        justify-content: start !important;
        gap: 10px !important;
    }
    #switcher:checked  ~ .links {
        display:block !important;
    }

    /*? section 1 images */
    .imagesDiv{
        display: flex !important;
        flex-direction: column !important;
    }
    .smallDivs{
        width: 90% !important;
    }

    /*? section 3 */
    .itemsDiv{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .itemsDiv div{
        width: 90vw;
    }
    .itemsDiv img{
        width: 100%;
    }


    /*? section 4 blog */
    .blogDivs{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .blogDivs div{
        width: 90vw;
    }
    .blogDivs img{
        width: 100% !important;
    }
}